### Tuples are immutable(once we create a tuple we cannot change it like list)

In [ ]:
## creating a tuple

new_tuple= ()
print(new_tuple)
print(type(new_tuple))

()
<class 'tuple'>

In [2]:
lists=list()
print(type(lists))

tuples=tuple()
print(type(tuples))

<class 'list'>
<class 'tuple'>

In [ ]:
## Type Conversion

##I'm giving a list so it will be converted into a tuple
numbers= tuple([1,2,3,45])
print(numbers)

## Vice-Versa
numbers2= list((1,2,3,4,5))
print(numbers2)

(1, 2, 3, 45)
[1, 2, 3, 4, 5]

In [6]:
## We can write any data type value in a tuple

mixed_tuple= (1,'abc',3.14)
print(mixed_tuple)

(1, 'abc', 3.14)

In [ ]:
## Accessing Tuple elements  -->  Same slicing methods like list. Even we can access it like a list.

numbers[0]

1

In [12]:
numbers[-1]

45

In [13]:
numbers[::]

(1, 2, 3, 45)

In [14]:
## Tuple Operations

concatenate_tuples= numbers + mixed_tuple
print(concatenate_tuples)

(1, 2, 3, 45, 1, 'abc', 3.14)

In [ ]:
## --> In multiplication it repeats for nth=(3 here) number of time.
## When you multiply a tuple by an integer in Python, you're repeating the contents of that tuple multiple times.

## Using * on a tuple with an integer repeats the elements.

numbers * 3

(1, 2, 3, 45, 1, 2, 3, 45, 1, 2, 3, 45)

In [ ]:
## Tuples are immutable. Here is how:

lst=[1,2,3,4,5]

lst[3]=34
print(lst)

## BUT

## numbers= tuple([1,2,3,45])
## numbers[1]=45  
## numbers is a tuple. So once we have defined the tuple so now we cannot change it like list.
 
## **** BUT ONE THING WE CAN DO IS WE CAN CONVERT THE TUPLE TO LIST AND THEN WE CAN CHNAGE IT. AFTER CHANGING THE LIST WE CAN CONVERT THAT TO TUPLE AGAIN. THIS IS HOW WE CAN CHNAGE THE VALUE OF A TUPLE.

[1, 2, 3, 34, 5]

In [4]:
numbers=(1,2,3,4,5,1)

In [7]:
## Tuple Methods

print(numbers.count(1)) ## --> It will count that how many times 1 is present in the tuple

print(numbers.index(3))  ## --> It will tell that in which index number 3 is present

2
2

In [8]:
## Packing and Unpacking Tuple

## Packing:

numberss= 1,'abc',3.14
print(numberss)

(1, 'abc', 3.14)

In [11]:
## Unpacking Tuples

a,b,c=numberss
print(a)
print(b)
print(c)

1
abc
3.14

In [13]:
## Unpacking with *

numberss=[1,2,3,4,5,6]

first,*second,third=numberss

print(first)
print(second)
print(third)

1
[2, 3, 4, 5]
6

In [2]:
## Nested Tuples

## Nested List

a= [[1,2,3],[5,'C','A'],[3.14,5,'abc']]

print(a[2][0:2])
a[1][2]

[3.14, 5]

'A'

In [5]:
a= [[1,2,3],[5,'C','A'],(3.14,5,'abc')]

print(a[2][0:2])

(3.14, 5)

In [19]:
## Nested Tuple

a=((1,2,3),(True,False),('abc',3.14,'c'))

print(a[1][1])

False

In [7]:
for sub_tuple in a:
    for item in sub_tuple:
        print(item,end=" ")  ## end ensures that the next print will be in same line
    print()

1 2 3
5 C A
3.14 5 abc

['i', 'in', 'dhaka', 'bd']