# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
### Assignment 1: Creating and Accessing Tuples

## Create a tuple with the first 10 positive integers. Print the tuple.

first_tuple= tuple(range(1,11))
print(first_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [7]:
### Assignment 2: Accessing Tuple Elements

## Print the first, middle, and last elements of the tuple created in Assignment 1.


print(first_tuple[0])
print(first_tuple[len(first_tuple)//2])
print(first_tuple[0])

1
6
1

In [12]:
### Assignment 3: Tuple Slicing

## Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

first_tuple

print(first_tuple[:3])
print(first_tuple[-3:])
print(first_tuple[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [14]:
### Assignment 4: Nested Tuples

## Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

nested_tuple = (
    (1,2,3),
    ('a','c','f','t'),
    (3,14,"abcd")
)

print(nested_tuple)
print(nested_tuple[1][2])

((1, 2, 3), ('a', 'c', 'f', 't'), (3, 14, 'abcd'))
f

In [15]:
### Assignment 5: Tuple Concatenation

## Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

concat_tuples= (1,2,3) + (4,5,6)
print(concat_tuples)

(1, 2, 3, 4, 5, 6)

In [17]:
### Assignment 6: Tuple Methods

## Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

duplicateValueInATuple= (1,2,3,2,3,4,5,6,6,4,4)

print(duplicateValueInATuple.count(4))
print(duplicateValueInATuple.index(4))

3
5

In [18]:
### Assignment 7: Unpacking Tuples

## Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

tupless=(1,2,3,4,5)
a,b,c,d,e=tupless

print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [21]:
### Assignment 8: Tuple Conversion

## Convert a list of the first 5 positive integers to a tuple. Print the tuple.

a= list(range(1,6))
print(a)

b=tuple(a)
print(b)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [22]:
### Assignment 9: Tuple of Tuples

## Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

a= (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(a)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [26]:
### Assignment 10: Tuple and List

## Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

new_tuple=tuple(range(1,6))
print(new_tuple)

convert_list= list(new_tuple)
convert_list.append(6)
print(convert_list)

again_tuple=tuple(convert_list)
print(again_tuple)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [9]:
### Assignment 11: Tuple and String

## Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.


string= 'abc'

new_tup= tuple(string)

new_str=''.join(new_tup)

print(new_str)

print(type(string))

abc
<class 'str'>

In [15]:
### Assignment 12: Tuple and Dictionary

## Create a dictionary with tuple keys and integer values. Print the dictionary.

dictionary={
    ('New York','Usa'):5,
    ('Paris','France'):3,
    ('Tokyo','Japan'):6
}

for key,value in dictionary.items() :
    print(f"{key}:{value}")

('New York', 'Usa'):5
('Paris', 'France'):3
('Tokyo', 'Japan'):6

In [27]:
### Assignment 13: Nested Tuple Iteration

## Create a nested tuple and iterate over the elements, printing each element.

nested_tuple= (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [28]:
### Assignment 14: Tuple and Set

## Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tpl= (1,2,22,3,4,4,2,3,3,4,5)

unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5, 22}

In [ ]:
### Assignment 15: Tuple Functions

## Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

def min_num(c):
    return min(c)

def max_num(d):
    return max(d)

def total_num(add):
    return sum(add)
aTuple=(1,2,3,4,5)

print(min_num(aTuple))
print(max_num(aTuple))
print(total_num(aTuple))

1
5

RecursionError: maximum recursion depth exceeded