In [7]:
##Lambda function with map

numbers= list(range(1,11))
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
##Normal map function

def square(a):
    return a**2

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
## Map multiple iterables

num1= [2,3,4]
num2= [5,6,7]
multiple_iterable=list(map(lambda x,y:x+y,num1,num2))
print(multiple_iterable)

[7, 9, 11]

In [15]:
## Use map to convert strings to integers

str_num=['1','2','3','4']

convert_str_to_int= list(map(int,str_num))
print(convert_str_to_int)

[1, 2, 3, 4]

In [16]:
lower_str= ['apple','banana']

upper_str= list(map(str.upper,lower_str))
print(upper_str)

['APPLE', 'BANANA']

In [20]:
def get_name(person):
    return person['name']

people=[
    {'name':'nuhan','age':22},
    {'name':'tousif','age':24}
]    

list(map(get_name,people))

['nuhan', 'tousif']